{% extends 'chesseditor/base.html' %}

{% block content %}
{% for tournament in tournaments %}
    <div>
        <p><a href="{% url 'turniej' pk=tournament.pk %}">{{ tournament.name_of_tournament }}</a></p>
        <p>liczba uczestników: {{ tournament.max_nb_of_players }}</p>
        <p>data startu: {{ tournament.date_of_start }}</p>
        <p>data zakończenia: {{ tournament.date_of_end }}</p>
        <p>miejsce turnieju: {{ tournament.max_nb_of_players }}</p>
        <br />
    </div>
{% endfor %}
{% endblock content %}