.page-header {
    background-color: #008ace;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Baloo', cursive;
}


hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.btn-info { border-color: #008ace;
background-color: #008ace;
}

.btn-info:hover {
border-color: #008ace;
background-color: #008ace;
}

.chessboard {
    width: 320px;
    height: 320px;
    margin: 10px;

}
.black {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #999;
      font-size:25px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size:25px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}